@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

.star-wars-theme {
    font-family: 'Russo One', sans-serif;
    background-color: #000;
    color: #ffe81f;
    padding: 20px;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.star-wars-theme h1 {
    font-size: 3rem;
    letter-spacing: 2px;
    margin-bottom: 40px;
    text-shadow: 2px 2px 5px #ffe81f;
}

.star-wars-theme input {
    padding: 10px;
    border: 2px solid #ffe81f;
    border-radius: 5px;
    background-color: #111;
    color: #ffe81f;
    margin-bottom: 20px;
    font-size: 1.2rem;
    width: 300px;
    text-align: center;
}

.star-wars-theme button {
    padding: 10px 20px;
    border: 2px solid #ffe81f;
    border-radius: 5px;
    background-color: #111;
    color: #ffe81f;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.star-wars-theme button:hover {
    background-color: #ffe81f;
    color: #000;
}

.character-table {
    margin: 20px 0;
    padding: 20px;
    border: 2px solid #ffe81f;
    background-color: #222;
    border-radius: 10px;
    width: 80%;
    max-width: 800px;
}

.character-table h2 {
    font-size: 2rem;
    margin-bottom: 10px;
    text-shadow: 1px 1px 3px #ffe81f;
}

.character-table table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.character-table th, .character-table td {
    border: 1px solid #ffe81f;
    padding: 15px;
    text-align: left;
    font-size: 1.2rem;
}

.character-table th {
    background-color: #111;
    text-shadow: 1px 1px 3px #ffe81f;
}

.save-message {
    margin-top: 20px;
    padding: 15px;
    background-color: #222;
    border: 2px solid #ffe81f;
    border-radius: 5px;
    display: inline-block;
    font-size: 1.2rem;
    text-shadow: 1px 1px 3px #ffe81f;
}

@media (max-width: 600px) {
    .star-wars-theme input {
        width: 80%;
    }

    .character-table {
        width: 90%;
    }
}
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    background-color: #222;
    border: 2px solid #ffe81f;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    color: #ffe81f;
    font-family: 'Russo One', sans-serif;
    text-shadow: 1px 1px 3px #ffe81f;
}

.close {
    color: #ffe81f;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}